<mat-toolbar color="#ffffff">
  <div [ngClass]="{ 'mobile-wrap': isSmallScreen }">
    <button
      class="icon-button"
      mat-icon-button
      aria-label="Example icon-button with menu icon"
      (click)="onLogoClick()">
      <mat-icon color="primary">photo_library</mat-icon>
    </button>
  </div>
  <app-tab-group
    *ngIf="!isSmallScreen"
    [selectedItemId]="selectedItemTypeId"
    [items]="items"
    (selectedTabChange)="itemTypeChange($event)"></app-tab-group>
  <app-hamburger-menu
    *ngIf="isSmallScreen"
    [items]="items"
    (menuItemClick)="itemTypeChange($event)"></app-hamburger-menu>
</mat-toolbar>
